.cabecera{
    background-color:#f2f2f2 ;/* 2 color de fondo de #f2f2f2  */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

header a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.caja{
    background-color:#f2f2f2;
    height: 800px;


}

h2{
    background-color: #f2f2f2;
    padding: 80px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

.contenedor{  
    display: grid;
    grid-template-columns: auto auto auto auto;/* 3 crear cuadricula de 4 columnas */
    align-items: center;/* 3 alineacion horizontal */
    margin-bottom: 30px;
}

.caja{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}    

.pr{ 
    text-align: justify;/* 2 texto justificado */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;/* 1 margen inferior 20px */
    margin-top: 20px;/* 1 margen superior 20px */
}

footer{
    background-color: silver;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    padding-top: 100px;
    text-align: center;
}

ul{
    background-color: #f2f2f2;
    display: flex;
    justify-content:right;
    
}